<h1>Alterar Shopping</h1>
<%= form_for @shop, url:shopping_update_path do |f| %>
	<%= f.label :name, 'Nome' %>
	<%= f.text_field :name %>
	<%= f.label :address, 'Endereço' %>
	<%= f.text_field :address %>
	<%= f.submit 'Enviar' %>
<% end %>
